<a href="https://colab.research.google.com/github/muzahid626/python_Id_191-15-2559/blob/master/week_4(Lab%20Work).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**creating list**

In [ ]:
lst0=[1,2,4,32,2.23,43.23,'python',[2,32,3]]
print(lst0)
lst1=[]
print(lst1)
lst2=list()
print(lst2)

[1, 2, 4, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[]
[]

**iterating list**

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
for i in lst0:
    print(i,end='\n')

1
2
3
32
2.23
43.23
python
[2, 32, 3]

In [ ]:
lst0=[1,2,3,32,2.23,43.23,"python",[2,32,3]]
print(lst0[2])
print(lst0[6])
print(lst0[-2])
print(lst0[-5])

3
python
python
32

**List operations**

In [ ]:
lst1=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(len(lst1))

lst1.append([12,10,12,2])
print(lst1)

lst1.insert(2,"pandas")
print(lst1)

lst1.remove(3)
print(lst1)

print(lst1.index("python"))

print(lst1.count('pandas'))

print(lst1.reverse()) 

lst1=lst1.copy()
print(lst1)

lst1.clear()
print(lst1)

8
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 10, 12, 2]]
[1, 2, 'pandas', 3, 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 10, 12, 2]]
[1, 2, 'pandas', 32, 2.23, 43.23, 'python', [2, 32, 3], [12, 10, 12, 2]]
6
1
None
[[12, 10, 12, 2], [2, 32, 3], 'python', 43.23, 2.23, 32, 'pandas', 2, 1]
[]

**lsit slicing**

In [ ]:
lst1=[1,2,3,32,2.23,43.23,"python",[2,32,3]]

print(lst1[2:7])
print(lst1[2:])
print(lst1[:5])
print(lst1[:])

[3, 32, 2.23, 43.23, 'python']
[3, 32, 2.23, 43.23, 'python', [2, 32, 3]]
[1, 2, 3, 32, 2.23]
[1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3]]

**list sorting**

In [ ]:
lst1=[1,2,4,2,4,2,4,2,5,6,7,4]

lst3=sorted(lst1)
print(lst3)
print(lst1)
lst1.sort()
print(lst1)

[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]
[1, 2, 4, 2, 4, 2, 4, 2, 5, 6, 7, 4]
[1, 2, 2, 2, 2, 4, 4, 4, 4, 5, 6, 7]

**creating tuple**

In [ ]:
tp0=(1,2,3,32,2.23,43.23,"python",[2,32,3])
print(tp0)
tp1=()
print(tp1)
tp2=tuple()
print(tp2)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3])
()
()


**iterating tuple**

In [ ]:
tp0=(1,2,3,40,2.23,43.23,"python",[2,32,3])
for i in tp0:
    print(i,end=' ')
print('')

1 2 3 40 2.23 43.23 python [2, 32, 3]

In [ ]:
tp0=(1,2,3,52,2.23,43.23,"python",[2,32,3])
print(tp0[2])
print(tp0[6])
print(tp0[-2])
print(tp0[-5])

3
python
python
52

**inserting into tuple**

In [ ]:
tp2=(1,2,3,32,2.23,43.23,"python",[2,32,3])
tp2+=("pandas",232,3,23,256,3)
print(tp2)

(1, 2, 3, 32, 2.23, 43.23, 'python', [2, 32, 3], 'pandas', 232, 3, 23, 256, 3)

**unpacking sequences**

In [ ]:
lst1=[2,3,423,43]
d,e,f,g=lst1
print(g)
print(e)
print(f)
print(d)

43
3
423
2

In [ ]:
tp=(2,3,423,43)
a,b,c,d=tp
print(a,b,c,d)
print(b)
print(c)
print(d)

2 3 423 43
3
423
43